---
import '../styles/404.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ext4cats' site</title>
  </head>
  <body>
    <main>
      <h1>Not Found</h1>
      <p>Not sure what you're looking for. No easter eggs down here.</p>
      <a href="/">Go back</a>
    </main>
  </body>
</html>
