---
import '../styles/index.css';
---

<html lang="en">
  <head>
    <!-- Standard stuff -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <!-- Favicons -->
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="ext4cats' site" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- Metadata -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ext4cats' site" />
    <meta property="og:url" content="https://ext4cats.farmarrays.com" />
    <meta
      property="og:description"
      content="Someone's special corner in the world wide web."
    />
    <meta
      name="description"
      content="Someone's special corner in the world wide web."
    />
    <title>ext4cats' site</title>
  </head>
  <body>
    <div class="root">
      <header>
        <p>EFIcats Interactive Shell v0.1.0</p>
        <p>{Astro.generator}</p>
        <p id="browser-version">Unknown Browser vX.XX</p>
        <p>
          Press <em>Backspace</em> in ??? seconds to skip <strong
            >readingtime.nsh</strong
          > or continue reading.
        </p>
      </header>
      <main>
        <section>
          <h1>ext4cats' site</h1>
          <p class="paragraph">
            Hey there, welcome to my personal site. I go by both EFIcats and
            ext4cats online, but you can call me Alex. I do computer wizardry
            for a living, and mostly play videogames during my time off.
          </p>
          <p class="paragraph">
            Professionally, I handle backend development, deployment, and
            sporadic infrastructure maintenance roles at a small startup. On my
            free time, I also dabble in web design for my own projects.
          </p>
          <p class="paragraph">
            farmarrays.com is where I host my personal inbox, my Bluesky handle,
            and all of my personal projects. You can find my socials below.
          </p>
        </section>
        <section>
          <h2>My socials</h2>
          <ul>
            <li>
              Follow me on <a
                href="https://bsky.app/profile/ext4cats.farmarrays.com"
                target="_blank"
                rel="noopener noreferrer">Bluesky</a
              >.
            </li>
            <li>
              Check out my code on <a
                href="https://github.com/ext4cats"
                target="_blank"
                rel="noopener noreferrer">GitHub</a
              >.
            </li>
            <li>
              Send business inquiries to my <a
                href="mailto:ext4cats@farmarrays.com">email</a
              >.
            </li>
          </ul>
        </section>
        <section>
          <h2>My projects</h2>
          <dl>
            <dt>
              <a
                href="https://tmcvf.farmarrays.com"
                target="_blank"
                rel="noopener noreferrer">tmcvf</a
              >
            </dt>
            <dd>A tiny video converter powered by ffmpeg.wasm</dd>
          </dl>
        </section>
        <section>
          <h2>My skills</h2>
          <dl>
            <dt>TypeScript / JavaScript</dt>
            <dd>
              My main highlight, and what I write every day at work. I know the
              ins and outs of the type system well, and can handle the mess that
              is setting up the tooling. I use NestJS + MikroORM for backend
              work and React for frontend work, with PNPM as my preferred
              package manager.
            </dd>
            <dt>Containerization and Virtualization</dt>
            <dd>
              A big portion of my deployment and maintenance workload. I'm used
              to working on virtual machines and containers. We mostly use
              Proxmox at work, but I personally prefer working with Docker and
              Docker Compose.
            </dd>
            <dt>SQL</dt>
            <dd>
              The type of database I'm most experienced with, and the one I
              prefer working with. I mostly use PostgreSQL, but can also handle
              MySQL and MariaDB.
            </dd>
            <dt>Git</dt>
            <dd>The bread and butter of any developer. (I hope.)</dd>
          </dl>
        </section>
        <section>
          <h2>Credit</h2>
          <p>
            The font you're seeing right now is from the amazing <a
              href="https://int10h.org/oldschool-pc-fonts/fontlist/font?ibm_vga_8x16#-"
              target="_blank"
              rel="noopener noreferrer">Oldschool PC Font Pack</a
            >, by VileR. Make sure to check it out.
          </p>
        </section>
      </main>
    </div>
  </body>
</html>

<script src="../scripts/index.ts"></script>
